:root {

    /*Colors*/
    --color-normal-text: #2c2c2c;
    --color-dark-bg-text: #cfcfcf;
    --color-btn-text: #ffffff;
    --color-primary: #1e7aad;
    --color-secondary: #001d2d;
    --color-dark: #001d2d;
    --color-bg: #ebebeb;

    /*Font*/
    --font-inter: 'inter'
}